#essai-overlay-root {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 2%;
    right: 1.5%;
    z-index: 100000;
    width: 1px;
    gap: 10px;
  }

#essai-overlay-widget {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

